/*
    Created on : 7.12.2013, 12:40:54
    Author     : Richard Kalab (aweo.cz)
*/

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'epsg';
  src:url('../fonts/epsg.eot?nq3a1h');
  src:url('../fonts/epsg.eot?#iefixnq3a1h') format('embedded-opentype'),
    url('../fonts/epsg.woff?nq3a1h') format('woff'),
    url('../fonts/epsg.ttf?nq3a1h') format('truetype'),
    url('../fonts/epsg.svg?nq3a1h#epsg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html { margin: 0; padding: 0; height:100%}
body { margin: 0; padding: 0; background: #fff; position:relative; min-height:100%;}
form { margin: 0; padding: 0; }
a img { border: 0; }
a { text-decoration: none; }
a:hover { text-decoration: underline; color: #2c7ac2;  }
input[type="submit"], input[type="image"], label { cursor: pointer; }
input:focus { outline: none; }
abbr { cursor: help; }

body, p, em, h2, h3, h4, h5, h6, div, span, li, a, textarea, input, abbr, #homepage h1, #resultspage h1, #errorpage h1, #mc-info-container h1 {
  font-family: OpenSansRegular, Arial, "Geneva CE", lucida, sans-serif; color: #9da4b4; font-weight: normal;
}

strong, dt,  h1, .wys table td strong { font-family: OpenSansBold, Arial, "Geneva CE", lucida, sans-serif; font-weight: normal; }


div { font-size: 12px; }
p, address, dl, dl { margin: 0 0 15px; padding: 0; font-size: 12px; line-height: 22px; font-style: normal; }

ul { margin: 0 20px 15px 20px; padding: 0; font-size: 12px; line-height: 18px; font-style: normal; }


table { margin: 0 0 20px 0; font-size: 12px; width: 100%; }
td, th { padding: 0; margin: 0; background: transparent; }

h1, .h1 { margin: 0 0 20px 0; padding: 0; font-size: 30px; color: #3c4a69; }
h2, .h2 { margin: 20px 0 15px 0; padding: 0; font-size: 23px; color: #555; }
h3, .h3 { margin: 20px 0 13px 0; padding: 0; font-size: 18px; color: #555; }
h4, .h4 { margin: 20px 0 13px 0; padding: 0; font-size: 16px; color: #555; }


#homepage { background: url('../img/bg-homepage.png') 50% 0 no-repeat; }
#resultspage { background: #fff; }
#resultspage h1 { margin: 0 0 6px; font-size: 18px; color: #555; }


#errorpage { background: #fff; }
#errorpage h1 { text-align:center; font-size: 18px; color: #555; margin: 0 0 10px 0;}
#errorpage h2 { text-align:center; font-size: 15px; color: #555; }
#errorpage p { margin: 0 0 15px; padding: 0; font-size: 11px; line-height: 9px; font-style: normal;text-align:center;}

#errorpage #layout-container { padding-top: 78px; }
#errorpage #search-container { margin: auto; }
#error-content-container { margin: 30px 0 80px; padding: 30px 0 0; overflow: hidden; }

#mappage {width:100%;height:100%;position:absolute;}
#map { position: absolute; top:0px; bottom:0px; left:0; right:0; border: 0; margin:0; padding:0;}
#map-plus, #map-minus, #map-search {
  position:absolute; top:99px; left:0; width:30px; height:30px;
  background:#9da4b4;color:#fff;text-align:center;font-size: 20px;line-height:30px;cursor:pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  font-family:'epsg'
}
#map-search {font-size: 17px}
#map-plus {margin-top:83px;}
#map-minus {margin-top:116px;}
#mapType {position:absolute;top:115px;right:10px;}
#mapsight {position: absolute; top:50%; left:50%; width:51px; height:51px; margin:-26px; pointer-events:none; background: url('../img/epsg-target-large.png') 0 0 no-repeat; }

.ol-attribution{position:absolute;right:0;bottom:0;text-align:right;background:rgba(255,255,255,.8);font-size:10px;line-height:10px;padding:2px;}
.ol-attribution ul{margin:0;padding:0;color:#000;text-shadow:0 0 2px #fff;font-size:10px;line-height:10px;}
.ol-attribution li{display:inline;list-style:none;line-height:inherit}
.ol-attribution li:not(:last-child):after{content:" "}
.ol-attribution a {color:#000;}
.ol-attribution img{display:none;/*margin-bottom:-2px;max-height:12px;*/}
.ol-attribution button{display:none;}
.ol-attribution.ol-logo-only {display:none;}

#layout-container { margin: 0 auto; padding: 0 5px; width: 990px; }
#logo-container a { margin: 0; color: #989898; font-size: 12px; }
#description-message { padding:20px; background-color:#eee; border: 1px solid #ccc; margin-bottom:10px; font-size: 14px; }
#spacer {width:100%;height:100px}

#homepage #layout-container { padding-top: 94px; }
#resultspage #layout-container { padding-top: 60px; }
#detailpage #layout-container { padding-top: 60px;}
#mappage #layout-container { padding-bottom: 100px; }

.icon-epsg-twiter:before { content: "\54"; }
.icon-epsg-googleplus:before { content: "\4a";}
.icon-epsg-pinterest:before { content: "\51";}
[class^="icon-"], [class*=" icon-"] {
  color: white;
  margin: 0px 4px;
  border-radius: 50%;
  background: #9da4b4;
  font-family: 'epsg';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.socialicons a { font-size: 30px; text-decoration: none; margin: 0 5px 0 0;}
.socialicons p {display: inline-block; margin: 4px 8px !important; overflow: hidden;}
#homepage .socialicons {text-align:center; margin-top:140px;}
.title-right{float: right; text-align: right;}
.detail-action-buttons{margin-top: 22px;}
.detail-action-buttons a{ margin-left: 10px; }

.home-action img{width:220px;height: 170px; margin: 0px 15px -20px 15px;border-radius: 8px;border: solid 1px #cacaca;box-shadow: 0px 0px 60px -20px;}
.home-action{ text-align: center; height: 32px; margin: 0 auto; padding: 45px 0 0 0;}
.home-action a{float: none; margin: 0 38px; display: inline-block;}
.home-search-img {text-decoration: none !important; margin: 0 !important;}


#homepage #logo-container { margin: 0 0 55px 38%; padding: 0; height: 77px; width: auto; display: block; }
#homepage #logo-container a { padding: 62px 0 0 152px; height: 22px; width: auto; display: block; background: url('../img/logo-232x76.png') 0 0 no-repeat; }
#logo-container a span { display: none; }
#countryLink { display: none; }
#countryLinkWrapper { height: 20px; margin-top: 45px; font-size: 12px; text-align: center;}
#countryLinkWrapper a {text-decoration: underline;}

#homepage h1 { margin: 0 0 35px; padding: 0; text-align: center; font-size: 25px; color: #2c7ac2; }
#detailpage h1 { margin-bottom: 0; }

#title-container { min-width: 500px;}
#search-container { margin: 0 auto 50px; padding: 0; width: 510px; }
#search-container p { margin: 0; padding: 0; overflow: hidden; padding-left: 20px;}
#search-container input[type="search"] { margin: 0 10px 0 0; padding: 0 10px; height: 32px; width: 340px; font-size: 11px; color: #f3f4f7;border: solid 1px #2c7ac2; }
#search-container input[type="submit"] { margin: 0; width: 114px; height: 32px; text-align: center; font-size: 14px; text-transform: uppercase;
                                         color: #2c7ac2; background: #fff; cursor: pointer; border: none;}
#search-container input { float: left; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; }


#search-container input[type="submit"]:hover { color: #fff; background: #2c7ac2; }
#homepage #search-container input[type="submit"] { color: #fff; background: #2c7ac2; }

#home-maptiler{margin: 0 auto 50px; padding: 0; width: 700px;}
#home-maptiler p {line-height: 25px; margin: 20px 0px 0px 10px;}
#home-maptiler h3 {margin: 20px 0px;}
.maptiler-border {border :1px solid #ccc; border-radius: 8px;}
.maptiler-col-r{width: 20%; display: inline-block; float:left;}
.maptiler-col-l{width: 60%; margin: 0 0 0 150px}
#home-maptiler img {width: 85%; float: right;}
#home-maptiler a {margin:30px 10px}

.coordinate-systems {margin: 100px -100px 50px -75px; float: left;}

#topbar {font-size: 16px}
#topbar a {margin: 40px 60px 0 0; float: right; text-decoration: none;}

#resultspage #search-container { margin: 0 auto; padding: 0; width: 465px; float:right;}

#mappage #search-container { position:absolute;left:30px;top:115px;width:auto;display:none;}
#mappage #search-container input{ width: 200px !important;}
#mappage #search-container.visible {display:block;}

@media(min-width: 700px){
  #map-search {display:none;}
  #mappage #search-container {left:19px;display:block !important;}
}

#reproject_map_container {position: absolute; top: 104px; right: 176px; background: #fff; color: #2c7ac2; padding: 4px 10px; margin: 4px; border: 1px solid #cdcdcd;}
#reproject_map_container input {width:16px !important; margin: 4px;vertical-align: top; line-height: 21px;}
#reproject_map_container label{vertical-align: top; line-height: 21px; font-size: 12px;}
#reproject_map[readonly] {opacity:0.4;}
.beta{ vertical-align: top; color: #fff; background-color: #2c7ac2; border-radius: 4px; font-size: 9px; padding: 0px 3px;}
#lat-lg-container input { margin: 0; padding: 0; border: 0; font-size: 12px; text-align:right; border-bottom:1px solid #ccc;vertical-align:middle;}
#eastnorth_submit { position: absolute; left: -9999px; width: 1px; height: 1px; }

#head { margin: 0; padding: 0; width: 100%; height: 79px; background: url('../img/bg-head-wide.png') 0 0 no-repeat; border-bottom: solid 1px #d0e1eb; overflow: hidden; }
#mappage #head-top { margin: 0; padding: 0; width: 100%; height: 79px; background: #fff url('../img/bg-head-wide.png') 0 0 no-repeat; overflow: hidden; }
#mappage #head { position:absolute; top:0; left:0; height: 79px; background: transparent; border-bottom: solid 1px #cacaca;}
#head #logo-container { margin: 0; padding: 22px 0 0 47px; float: left; height: 39px; }
#mappage #head #logo-container { margin-bottom: 18px; }
#head #logo-container a { padding: 16px 0 0 125px; float: left; height: 29px; background: url('../img/logo-118x39.png') 0 0 no-repeat; color: #85969f; font-size: 12px; }

#head #menu-top { margin: 0; padding: 36px 60px 0 0; list-style-type: none; float: right; }
#head #menu-top li { margin: 0 20px 0 20px; padding: 0; display: inline; }
#head #menu-top li a { margin: 0; padding: 0; color: #85969f; font-size: 14px;text-decoration: none;}

#home-menu-container { margin: 130px auto 48px; padding: 0; width: 720px; overflow: hidden; }
.hm-column { margin: 0; padding: 0; width: 200px; }
.hm-column.lft { margin-right: 58px; float: left; }
.hm-column.last { margin-right: 0;  }
#home-menu-container h2 { margin: 0 0 11px; font-size: 13px; color: #3c4a69; }
#home-menu-container ul { margin-left: 0; list-style-type: none; }
#home-menu-container ul li {font-size: 11px; margin-bottom: 7px; line-height: 24px; color: #9da4b4;}
#home-menu-container ul li a:hover { color: #3c4a69; }


#result-content-container { margin: 30px 0 80px; padding: 30px 0 0; border-top: solid 1px #eee; overflow: hidden; clear:both; }
#results-container { margin: 0; padding: 0; float: left; width: 72%; }
ul.results { margin: 0; padding: 0; list-style-type: none; }
ul.results li { margin: 0 0 50px; padding: 0; display: block; }
ul.results li h2 { margin: 0; padding: 0; color: #3c4a69; font-size: 14px; }
ul.results li a { color: #3c4a69; }
ul.results li a:hover { color: #3c4a69; text-decoration: underline; }
ul.results li h2 a { font-size: 14px; text-decoration: none; }
ul.results li p { margin: 0; color: #aaa; }
ul.results li p.area { color: #6d6d6d; }

#detail-content-container { margin: 0 0 50px; padding: 41px 0 0 0; overflow: hidden; }
#detail-content-container h2 { margin-top: 0; margin-bottom: 0;font-size: 18px; }
.caption { color: #585858; font-family: OpenSansSemiBold; }
.detail-content-inner-wide { margin: 0; padding: 0; float: left; width: 680px; }
.attributes-col { margin: 0 0 15px; padding: 0; float: left; width: 300px; }
.attributes-col2 { margin: 0 0 15px 20px; padding: 0; float: left;; width: 320px; }
.attributes-col p, .attributes-col2 p, .attributes p { margin-bottom: 7px; }
h3.underline-style { margin: 0 0 20px; padding: 0 0 10px; font-size: 14px; color: #555;  border-bottom: solid 1px #eee; }
.location-data-container, .transformations-container {  margin: 0; padding: 0; float: left; }
.covered-area-container { margin: 0; padding-top: 0px; width: 266px; float: right; }
#mini-map { margin-bottom: 15px; width: 265px; display: block; position:relative;}
#mini-map img {border-radius: 10px;}
#crosshair { position:absolute; top:50%; left:50%; margin-top:-11px; margin-left:-11px;}
.location-data-container { float: right; width: 284px; }
.location-data-container .btn-link-container, .btn, .btn-light, .btn-dark, input[type=submit].srsdialog-table{
  margin: 0 0 25px; padding: 25px 0 0 0; overflow: hidden;
}
.btn, .btn-light, .btn-dark, input[type=submit].srsdialog-table{
  margin: 0; padding: 7px 13px 0 22px; height: 24px; float: left; border: none;
  border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; color: #fff; background: #2c7ac2;
}
.btn i{
  margin: 5px 0 0 15px; border-style: solid; border-width: 5px 0 5px 7px; float: right; height: 1px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #2c7ac2 ;
}
.btn, .btn-light, .btn-dark, input[type=submit].srsdialog-table{
  height: 22px;
  vertical-align: middle;
  line-height: 22px;
  padding: 4px 25px;
  cursor: pointer;
}
.btn-dark{
  color: #2c7ac2;
  background: #fff;
}
.btn-dark.small, .btn.small{
  padding: 2px 10px;
  font-size: 10px;
  line-height: 20px;
  height: auto;
}
input.btn, input.btn-light, input.btn-dark, input[type=submit].srsdialog-table{
  height: 32px;
}
.btn:hover{ text-decoration: none; background: #03639B; color: #ffffff;}
.btn:hover i{ border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff; }
#projected-link-trans a:hover span { color: #2c7ac2; text-decoration: none; }

.transformations-container { width: 350px; }
.transformations-container-inner { height: 380px; overflow-y: scroll; }
.transformations-container-inner ul li { margin-bottom: 7px; }
.transformations-container h3 { margin-top: 0; font-size: 14px; }
.transformations-container ul { margin: 0; list-style-type: none; font-size: 12px; }
.transformations-container ul li a { color: #9da4b4; }
.transformations-container ul li a:hover, .transformations-container ul li a:hover span { color: #2c7ac2; text-decoration: none; }
.transformations-container-inner i { margin: 3px 7px 0 0; border-style: solid; border-width: 5px 0 5px 7px; float: left; height: 1px;
                                     border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #585858 ; }
#trans_deprecated { display:none; }
#maptiler-banner {padding: 25px 0; border-top: solid 1px #eee;}

#edit-box-container { margin: 0 0 50px; padding: 40px 0 0 0; border-top: solid 1px #eee; overflow: hidden; }
#eb-menu-container { margin: 0; padding: 0; float: left; width: 270px; }
#eb-menu-container h4{ padding: 0 0 13px 0; margin: 0 0 0 0;}
#eb-menu { margin: 0; padding: 0; list-style-type: none; border-top: solid 1px #eee; }
#eb-menu li { margin: 0; padding: 0; display: block; border-bottom: solid 1px #eee; }
#eb-menu li a { margin: 0; padding: 10px 0 0 0; display: block; height: 29px; overflow: hidden; }
#eb-menu li a i { margin: 3px 15px 0 0; display: none; border-style: solid; border-width: 5px 0 5px 7px; float: right; height: 1px;
                  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #2c7ac2;
                  pointer-events:none;}
#eb-menu li a.switcher_selected, #eb-menu li a:hover { color: #2c7ac2; text-decoration: none;}
#eb-menu li a.switcher_selected i, #eb-menu li a:hover i { display: block; }


.code-definition-container { margin: 0; padding: 0; float: right; width: 698px; display:none;}
.code-definition-container p { float: left; color: #555; }
.code-definition-container ul { margin: 0; padding: 0; float: right; list-style-type: none; }
.code-definition-container li { margin: 0 0 0 30px; padding: 0; display: inline; ;}
.code-definition-container a {color: #2c7ac2;}

.code_visible {display:block}
#s_html_text {display:none;}
#s_gml_text {display:none;}
#s_xml_text {display:none;}



#map-clipboard-container { position:absolute; width:520px; bottom: 0; left:50%; margin-left: -260px; padding: 0; overflow: hidden;  border: solid 1px #cacaca;}
#mc-info-container { margin: 0; padding: 10px 15px; background: #fff; overflow: hidden;}
#mc-info-container h1 { margin: 2px 0; font-size: 14px; color: #555; }
#mc-info-container #crs-transform-link, #mc-info-container #crs-detail-link{display: inline-block;}
#mc-info-container #crs-change{float: right; margin-top: -5px; margin-left: 15px; margin-right: 0;}
#crs-title{margin: 5px 0 0 0; font-size: 16px; width: 480px;}
#crs-title span{float: right;}
#crs-detail-link:hover, #crs-title:hover{text-decoration: none; color: #2c7ac2;}

#copy-clipboard-container { height: 40px; margin: 0; padding: 0 20px; overflow: hidden; position: absolute; top: 63px; z-index: 100; left: 50%; width: 500px; margin-left: -265px;}
#copy-clipboard-container input[type="text"] { margin: 0; padding: 1px 0 0 16px; height: 28px; float: left; width: 138px; background: #fff;
                                               font-size: 11px; border: solid 1px #bcbcbc;  border-bottom: solid 1px #2c7ac2;  border-top: solid 1px #2c7ac2;}
#copy-clipboard-container #easting {border-top-left-radius: 15px; border-bottom-left-radius: 15px; border-left: solid 1px #2c7ac2;  border-right: solid 1px #fff; }
#copy-clipboard-container #northing {border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-right: solid 1px #2c7ac2; }
#copy-clipboard-container input[type="text"]:hover { border: solid 1px #9A9A9A; }
#copy-clipboard-container #copy-bg{width: 520px; height: 23px;position: absolute;z-index: -1;top: 16px; margin-left: -15px;
                                   border-left: solid 1px #cacaca;border-bottom: solid 1px #cacaca;border-right: solid 1px #cacaca; background: #eef5f9;
}

#copy-clipboard-container a { padding: 7px 0 0 0; width: 80px; text-align: center; height: 24px; float: left; color: #fff; background: #2c7ac2;
                              border-radius: 15px; margin-left: 10px; }
#copy-clipboard-container a span{color: #fff;}
#copy-clipboard-container a:hover { text-decoration: none; background: #03639B; }

#side-container { margin: 0; padding: 0; float: right; width: 216px; }
#side-container h3 { margin: 0 0 13px 0; }
#alt-search { margin: 0 0 0 8px; padding: 0; list-style-type: none; }
#alt-search li { margin: 0; padding: 0; }
#alt-search li ul { margin: 0 0 0 12px; list-style-type: none; }
#alt-search li ul li ul { margin: 0 0 0 7px; list-style-type: none; }
#alt-search li.last { margin-top: 5px; }
#alt-search li.last a { font-size: 11px; }
#alt-search a:hover { color: #2c7ac2; }
#alt-search .head-of-group {margin-top:15px;}
#alt-search .colored { color:#000;}



ul.paginator { margin: 0; padding: 0; list-style-type: none; }
ul.paginator li { margin: 0; padding: 0; display: inline; font-size: 14px; }
ul.paginator li a { margin: 0 3px; padding: 0; color: #c3c3c3; }
ul.paginator li.prev a { margin-right: 10px; }
ul.paginator li.next a { margin-left: 10px; }
ul.paginator li span { margin: 0; padding: 2px 5px 2px; background: #2c7ac2; color: #fff; }

#disqus_thread { margin-top: 30px; }
#footer { position:absolute; width: 100%;bottom: 0;text-align:center;}
#foot { margin: 0 auto; margin-top: 40px; padding: 16px 0; overflow: hidden; border-top: solid 1px #e7e7e7;max-width:990px; }
#mappage #foot { width: 100%; background: #fff; position: fixed; bottom: 0; left: 0; }
#foot p { margin: 0 20px 0 0; padding: 0; float: left; font-size: 12px;}
#foot p#mzk-logo { padding: 0; float: left; }
#foot p#copyright { margin-right: 0; float: right; }
#mappage #foot p#mzk-logo { margin-left: 20px; }
#mappage #foot p#copyright { margin-right: 20px; }
#maptiler-logo a {width: 10%; float: left; display: inline-block;}
#maptiler-logo img {width: 100%; float: left; display: inline-block;}


.syntax { clear: both; }
pre { background: #f3f4f7; font-size: 11px; margin-bottom: 10px; margin-top: 10px; overflow: auto; padding: 10px;border-radius: 10px; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
.errorlist { color: #DB1604; font-weight: bold; }
.syntax .c { color: #60A0B0; font-style: italic; }
.syntax .err { border: 1px solid #FF0000; }
.syntax .k { color: #007020; font-weight: bold; }
.syntax .o { color: #666666; }
.syntax .cm { color: #60A0B0; font-style: italic; }
.syntax .cp { color: #007020; }
.syntax .c1 { color: #60A0B0; font-style: italic; }
.syntax .cs { background-color: #FFF0F0; color: #60A0B0; }
.syntax .gd { color: #A00000; }
.syntax .ge { font-style: italic; }
.syntax .gr { color: #FF0000; }
.syntax .gh { color: #000080; font-weight: bold; }
.syntax .gi { color: #00A000; }
.syntax .go { color: #808080; }
.syntax .gp { color: #C65D09; font-weight: bold; }
.syntax .gs { font-weight: bold; }
.syntax .gu { color: #800080; font-weight: bold; }
.syntax .gt { color: #0040D0; }
.syntax .kc { color: #007020; font-weight: bold; }
.syntax .kd { color: #007020; font-weight: bold; }
.syntax .kp { color: #007020; }
.syntax .kr { color: #007020; font-weight: bold; }
.syntax .kt { color: #902000; }
.syntax .m { color: #40A070; }
.syntax .s { color: #4070A0; }
.syntax .na { color: #4070A0; }
.syntax .nb { color: #007020; }
.syntax .nc { color: #0E84B5; font-weight: bold; }
.syntax .no { color: #60ADD5; }
.syntax .nd { color: #555555; font-weight: bold; }
.syntax .ni { color: #D55537; font-weight: bold; }
.syntax .ne { color: #007020; }
.syntax .nf { color: #06287E; }
.syntax .nl { color: #002070; font-weight: bold; }
.syntax .nn { color: #0E84B5; font-weight: bold; }
.syntax .nt { color: #062873; font-weight: bold; }
.syntax .nv { color: #BB60D5; }
.syntax .ow { color: #007020; font-weight: bold; }
.syntax .w { color: #BBBBBB; }
.syntax .mf { color: #40A070; }
.syntax .mh { color: #40A070; }
.syntax .mi { color: #40A070; }
.syntax .mo { color: #40A070; }
.syntax .sb { color: #4070A0; }
.syntax .sc { color: #4070A0; }
.syntax .sd { color: #4070A0; font-style: italic; }
.syntax .s2 { color: #4070A0; }
.syntax .se { color: #4070A0; font-weight: bold; }
.syntax .sh { color: #4070A0; }
.syntax .si { color: #70A0D0; font-style: italic; }
.syntax .sx { color: #C65D09; }
.syntax .sr { color: #235388; }
.syntax .s1 { color: #4070A0; }
.syntax .ss { color: #517918; }
.syntax .bp { color: #007020; }
.syntax .vc { color: #BB60D5; }
.syntax .vg { color: #BB60D5; }
.syntax .vi { color: #BB60D5; }
.syntax .il { color: #40A070; }
.syntax .il { color: #40A070; }

/* mess cleaners */

.clnr { margin: 0; padding: 0; clear: both; }

/* lower res */
/* Smartphones (portrait and landscape) ----------- */

@media (max-width: 990px) {
  #layout-container { width: 95%; }
  #code-definition-container { width: 70%; }
  #eb-menu-container { width: 25%; }
  .transformations-container { float: left; }
  .covered-area-container { margin: 0; padding-top: 0px; width: 680px; float: none; overflow: hidden; }
  .cac-inner { margin-right: 20px; float: left; width: 320px; }
}

@media (max-width: 940px) {
  #mappage #head #search-lat-lg-container { height: auto; overflow: hidden; padding-bottom: 10px; }
  #mappage #search-container { float: none; margin: 0 auto; }
  #resultspage #search-container { float: none; margin-bottom: 10px }
  #mappage #search-container input[type="search"]{width:200px;z-index: 100;}
}
@media (max-width: 740px) {
  .detail-content-inner-wide, .covered-area-container {  width: 100%; float: none; overflow: hidden; }
  .location-data-container { float: left; }
  .transformations-container-inner { height: auto; overflow-y: auto; }
  .attributes-col2 { float: none; clear: both; }
}
@media (max-width: 720px) {
  body #home-menu-container { width: 100%; }
  .hm-column.lft, .hm-column.lft.last { margin-right: 2.5%; }
}
@media (max-width: 700px) {
  #results-container { width: 100%; }
  #code-definition-container { width: 95%; }
  #eb-menu-container { margin: 0 0 30px; float: none; width: auto; }
  #edit-box-container { padding-top: 20px; }

  #mappage #head, #head, #mappage #head-top{height: 85px}
  #mappage #head-top {background: #fff url('../img/bg-head-long.png') 0 0 repeat;}
  #head #logo-container a{background-size: 78px 26px; padding: 0px 0 0 125px;}
  #head #logo-container {padding: 17px 0 0 47px;}
  #head #menu-top{padding: 18px 60px 0 0;}

  /* map */
  #reproject_map_container {top: 55px;}
  #mapType {top: 100px;}
  #mc-info-container {padding: 10px 15px 10px;}
  #mc-info-container p a{padding: 0px 10px;font-size: 10px;}
  #copy-clipboard-container {padding: 5px 45px 5px; top: 45px; left: 0; margin: 0; right: 0; height: 35px;}
  #copy-clipboard-container #copy-bg{display: none;}
  #mc-info-container h1 {margin: 0 0 5px; font-size: 12px;}
  #copy-clipboard-container input[type="text"] {padding: 1px 0 0 13px; height: 25px;}
  #map-clipboard-container{position: fixed; left: 0; right: 0; bottom: 0; margin-left: 0; width: 100%; z-index: 90;}
  #copy-clipboard-container input[type="text"] {width:80px;}
  #copy-clipboard-container a {padding: 7px 0 0 0; line-height: 14px; height: 20px;}
  #eastnorth_copy span{display: none;}
}
@media (max-width: 480px) {
  #layout-container { width: 450px; }
  body#detailpage #layout-container { width: 96%; }

  body#homepage #layout-container { padding-top: 50px; }
  body#homepage #logo-container { margin-left: 69px; }
  body #home-menu-container { width: 100%; }
  body #search-container { margin-bottom: 50px; width: 100%; }

  body #code-definition-container { width: 410px; }

  body .map-container { margin: 0 auto; float: none; }
  body .location-data-container { width: 410px; }
  /*body .btn-link-container a { margin: 0 auto; float: none; display: block; width: 200px; text-align: center; }*/

  body #side-container { padding-top: 20px; float: none; width: 400px; clear: both; }
  .hm-column.lft, .hm-column.lft.last { margin: 0 auto; float: none; }

}

.plovr-error-report { position:absolute; top:0; left:0; z-index: 60000;}

/* srs popup */
.srsdialog-input{
  margin: 0 10px 20px 0;
  padding: 0 10px;
  height: 28px;
  width: 200px;
  font-size: 11px;
  color: #989898;
  float: left;
  border: solid 1px #cacaca;
  border-radius: 15px;
}

.popup-bg{ position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(55,55,55,0.8);z-index:101}
.popup{ z-index:111;position:absolute;width:400px;min-height:100px;top:15%;left:50%;margin-left:-200px;padding:25px;background:#fff}
.popup .popup-title{ display:block;padding:0 0 10px 0;font-size:26px;color: #000;font-family: OpenSansBold, Arial, "Geneva CE", lucida, sans-serif;font-weight: normal;}
.popup .popup-close{ position:absolute;top:10px;right:10px;font-family:'epsg';cursor:pointer;color:#898989}
.popup .popup-close:hover{ text-decoration:none;color:#565656; }
.popup .popup-content{ display:block }
.popup .popup-actions{ display:block;margin-top:20px }
.popup .popup-actions div{ margin-right:10px }

.srsdialog-table, .srsdialog-table td { border:1px solid #ccc;border-spacing:0;border-collapse:collapse;padding: 2px 5px;}
.srsdialog-table tr { cursor:pointer;}
.srsdialog-table tr.hidden { display:none;}
.srsdialog-table tr:not(.expandable) .srsdialog-transshower { display:none;}
.srsdialog-table tr.selected * { background:#2c7ac2;color:#fff;}
.srsdialog-table tr.trans :first-child { padding-left:10px;}
.srsdialog-table tr.trans.default { font-weight:bold;}
.srsdialog-form{
  overflow-y: auto;
  height: 300px;
}

/* autocomplete */

.ac-renderer {
  position: absolute;
  width: 350px;
  background-color: #fff;
  border: 1px solid #666;
  z-index: 2000;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}

.ac-row {
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  padding: 5px;
  background-color: #fff;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.ac-row .suffix {
  font-size:.8em;
  color:#ccc;
  padding:.1em 0 .1em 5px;
}
.ac-row .type {
  font-size:.7em;
  color:#aaa;
  display:block;
  width:100%;
}
.ac-highlighted {font-weight: bold;}
.ac-active {background-color: #eee;}

/* Transform */
.trans-box{
  width: 40%;
  margin: 0 10% 0 0;
  display: inline-block;
  float: left;
}
.trans-box.right{
  margin: 0 0 0 10%;
}
.trans-box label {width:20px;display:inline-block;}
.trans-box label.degrees {width:65px;}
input, textarea{
  margin: 5px 0;
  display: inline-block;
  padding: 4px 5px;
  color: #555;
}
input[type=text] {
  width:220px;
}
h3.underline-style{
  margin: 15px 0 10px 0;
}

#srs-in-form input[type=submit] {
  float:right;
  margin-top: 0px;
  margin-right: -150px;
}
.trans-box input[type=text] {
  border-radius: 15px;
  border: solid 1px #bcbcbc;
  padding-left: 10px;
}
.trans-box textarea{
  width: 96%;
  height: 300px;
}
.trans-box h3 a{
  float: right;
  color: #2c7ac2;
}
#srs-swap {
  float:right;
  margin-right: -142px;
  margin-top: 40px;
}

#srs-in-change, #srs-out-change {
  border-radius: 15px;
  color: #fff;
  background: #2c7ac2;
  padding: 2px 10px;
  font-size: 10px;
  margin-left: 10px;
  border: solid 1px #cacaca;
  line-height: 20px;
}

#srs-in-details-link, #srs-out-details-link,
#srs-in-map-link, #srs-out-map-link { color:#2c7ac2; }
#srs-in-format, #srs-out-format {position:absolute;margin:25px 0 0 3px;}

@media(max-width: 800px){
  .trans-box, .trans-box.right{
    width: 92%;
    margin: 0 2% 0 2%;
    display: inline-block;
    float: left;
  }
  #srs-in-form input[type=submit] {
    float: none;
    margin-top: 25px;
    margin-right: 0;
    display: block;
  }
  #srs-swap { float: none; margin-right: 0; margin-top: 0; display: block; margin: 8px;}
}
#results-map-container { width: 100%; display: none; }
#results-map-link{ margin: 30px 75px 0 0; text-align: left;}
#results-map{ width: 300px; height: 200px; display: inline-block; float: right;}
#results-map-btn{margin-top: 20px;}
#results-map-container.active{ display: inline-block; }
#noresults.hidden{ display: none; }
#noresults { margin: 0 0 30px 0;}
