#mysearchabout{float:right;}
#mysearchbox{
  margin-left: auto;
  margin-right: auto;
  border-left-width: 0px;
   border-bottom-width: 2px; 
   border-right-width: 0px; 
   border-top-width: 2px; 
   width: 40%; 
   border-style: solid;
   font-size: 11px;
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 10px;
   background: #9BCDFF;}
  
#image{
width:235px; height:190px;
display: block;
position:relative;
}
#crosshair {
  position:absolute; top:50%; left:50%; margin-top:-9px; margin-left:-9px;
}
#me{color:red;
  font-size:15px;}
h1
{
color:orange;
text-align:center;
font-size:40px;
}
#topic{color:green;
  text-align:center;
  font-size:30px;
  font-weight:bold;
}

#formats{color:blue;
border-style:solid;
padding-right: 2px;
padding-left: 2px;

float:right;
  
}

#category{
  color:olive;
  border-style:dotted;
  padding-right: 2px;
  padding-left: 2px;
  
  float:right;
}



body {
font-family:Verdana;
color:#525353;
font-size:.95em;
margin:25px;
padding:10px;
}



a{
color:#3F617F;
}

a:visited{
color:#4F4640;
}

img{
border:0px;
}

#header {
background: #99B3CC;
height:78px;
}

 #header_logo{
float:left;
}

 
#header_title{
font-size: 1.5em;
padding-top:27px;
margin-left:310px;
color:#4F4640;
text-transform:lowercase;
}

#header_logo{
float:left;
}

#searchbox{
float:right;
margin-top:4px;
}

#navbar{
padding:8px 5px 10px 5px;
background:#eee;
}

#content{
padding:10px;
}

#recent_uploads{float:right; 
width:200px; 
border-left: #ccc 1px solid; 
border-bottom: #ccc 1px solid; 
padding: 10px;
}

#footer {
margin-top: 20px;
border-top: 1px solid #eee;
padding: 10px;
}  

/*pre {border-left-width: 0px; border-bottom-width: 2px; border-right-width: 0px; border-top-width: 2px; width: 60%; border-color: #a2d545; border-style: solid; font-size: 11px; margin-bottom: 10px; margin-top: 10px; overflow: auto; padding: 10px; background: #eeeeee; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
*/
pre {width:550px;
  border-color: #a2d545;
   border-style: solid;
    font-size: 13px;
    background: #ffffdd;
  }
.errorlist { font-weight: bold; color: #db1604; }

.syntax .c { color: #60a0b0; font-style: italic } /* Comment */
.syntax .err { border: 1px solid #FF0000 } /* Error */
.syntax .k { color: #007020; font-weight: bold } /* Keyword */
.syntax .o { color: #666666 } /* Operator */
.syntax .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.syntax .cp { color: #007020 } /* Comment.Preproc */
.syntax .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.syntax .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.syntax .gd { color: #A00000 } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gr { color: #FF0000 } /* Generic.Error */
.syntax .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #00A000 } /* Generic.Inserted */
.syntax .go { color: #808080 } /* Generic.Output */
.syntax .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax .gt { color: #0040D0 } /* Generic.Traceback */
.syntax .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.syntax .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.syntax .kp { color: #007020 } /* Keyword.Pseudo */
.syntax .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.syntax .kt { color: #902000 } /* Keyword.Type */
.syntax .m { color: #40a070 } /* Literal.Number */
.syntax .s { color: #4070a0 } /* Literal.String */
.syntax .na { color: #4070a0 } /* Name.Attribute */
.syntax .nb { color: #007020 } /* Name.Builtin */
.syntax .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.syntax .no { color: #60add5 } /* Name.Constant */
.syntax .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.syntax .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.syntax .ne { color: #007020 } /* Name.Exception */
.syntax .nf { color: #06287e } /* Name.Function */
.syntax .nl { color: #002070; font-weight: bold } /* Name.Label */
.syntax .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.syntax .nt { color: #062873; font-weight: bold } /* Name.Tag */
.syntax .nv { color: #bb60d5 } /* Name.Variable */
.syntax .ow { color: #007020; font-weight: bold } /* Operator.Word */
.syntax .w { color: #bbbbbb } /* Text.Whitespace */
.syntax .mf { color: #40a070 } /* Literal.Number.Float */
.syntax .mh { color: #40a070 } /* Literal.Number.Hex */
.syntax .mi { color: #40a070 } /* Literal.Number.Integer */
.syntax .mo { color: #40a070 } /* Literal.Number.Oct */
.syntax .sb { color: #4070a0 } /* Literal.String.Backtick */
.syntax .sc { color: #4070a0 } /* Literal.String.Char */
.syntax .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.syntax .s2 { color: #4070a0 } /* Literal.String.Double */
.syntax .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.syntax .sh { color: #4070a0 } /* Literal.String.Heredoc */
.syntax .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.syntax .sx { color: #c65d09 } /* Literal.String.Other */
.syntax .sr { color: #235388 } /* Literal.String.Regex */
.syntax .s1 { color: #4070a0 } /* Literal.String.Single */
.syntax .ss { color: #517918 } /* Literal.String.Symbol */
.syntax .bp { color: #007020 } /* Name.Builtin.Pseudo */
.syntax .vc { color: #bb60d5 } /* Name.Variable.Class */
.syntax .vg { color: #bb60d5 } /* Name.Variable.Global */
.syntax .vi { color: #bb60d5 } /* Name.Variable.Instance */
.syntax .il { color: #40a070 } /* Literal.Number.Integer.Long */
.syntax .il { color: #40a070 } /* Literal.Number.Integer.Long */