
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'epsg';
  src:url('../fonts/epsg.eot?nq3a1h');
  src:url('../fonts/epsg.eot?#iefixnq3a1h') format('embedded-opentype'),
    url('../fonts/epsg.woff?nq3a1h') format('woff'),
    url('../fonts/epsg.ttf?nq3a1h') format('truetype'),
    url('../fonts/epsg.svg?nq3a1h#epsg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#navbar-top {
  background-position: top center ;
  background-repeat: no-repeat;

}
.logo {
  margin-top: -20px;
  color: $text-color;
  pointer-events: none;
  text-decoration: none;
  margin-left: 66.6666%;
  width: 60%;
  a:visited {
    color: $text-color;
  }
  @media(max-width: $sc-medium) {
    width: 50%;
 }
 @media(max-width: $sc-small) {
  width: 40%;
}

}
.navbar-logo{
  padding-left: 60px;
  width: 180px;
}
body#home{
  background-image: url(/static/img/bg-homepage.png);
  background-position: top center;
  background-repeat: no-repeat;
  height: 1000px;
  ul {
    list-style: none;
  }
  li{
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 7px;
  }
  .nav{
    padding-right: 60px;
  }
}
body#transform {
  input.transform {
    margin: 4px 0px;
    padding: 4px;
    border-color: $color-gray;
  }
  label {
    margin: 0;
  }
}
body#map-template {
  height: 0px;
  background: transparent;
  #footer {
    display: none;
  }
  #search-container {
    position: absolute;
    top: 90px;
    left: 15px;

    @media(max-width: $sc-small) {
      top: 80px;
      left: 5px;
   }
    input{
      width: 200px;
      padding: 7px 8px;
    }
  }
}
#easting{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform: scale(0.85);
}
#northing{
border-top-left-radius: 0;
border-bottom-left-radius: 0;
transform: scale(0.85);
margin-left: -35px !important;
}

#copy-clipboard-container {
  display: inline-block !important;
  position: absolute;
  top: 60px;
  left: 30%;

  #copy-bg {
      width: 100%;
      height: 28px;
      position: absolute;
      z-index: -1;
      top: 19px;
      border: 1px solid $color-gray;
      border-top: none;
      background: #eef5f9;
      @media (max-width: $sc-medium){
        display: none;
      }
  }
  input{
    min-width:200px;
  }
    @media (max-width: $sc-medium){
      left: 0;
      bottom: 72px;
      display: inline-block !important;
      position: fixed;
      top: unset;
      width: 100%;
      text-align: center;
    }
}
#reproject_map_container{
    display: inline-block !important;
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 105px;
    right: 140px;
    @media(max-width: $sc-small) {
      top: 135px;
      left: 15px;
      right: unset;
   }

}
#mapsight {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 51px;
  height: 51px;
  margin: -26px;
  pointer-events: none;
  z-index: 100;
  background: url("../img/epsg-target-large.png") 0 0 no-repeat;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

#map-minus,
#map-plus,
#map-search {
  position: absolute;
  top: 99px;
  left: 0;
  width: 30px;
  height: 30px;
  background: #9da4b4;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  font-family: 'epsg';
}

#map-search {
  font-size: 17px;
}

#map-plus {
  margin-top: 83px;
}

#map-minus {
  margin-top: 116px;
}

#mapType {
  position: absolute;
  top: 105px;
  right: 15px;
  @media(max-width: $sc-small) {
    top: 95px;
    right: 15px; }
}
#map-clipboard-container {
 position: absolute;
 bottom: 0px;
 width: 100%;
 left: 33%;
   width: 520px;
 @media(max-width: $sc-medium) {
   left: 15%;
   width: 70%;
 }
 @media(max-width: $sc-small) {
left: 0;
width: 100%;
}
}
.uppercase {
  text-transform: uppercase;
}
.shadow {
  box-shadow: 0px 0px 60px -20px;
}
.center-mobile {
  @media(max-width: $sc-small) {
    text-align: center;
  }
}
.pad-mobile {
  @media(max-width: $sc-small) {
    padding: 10px 0;
 }
}
.mar-mobile{
  @media(max-width: $sc-small) {
    margin: 10px 0;
 }
}
.padt-1 {
  padding-top: 10px !important;
}

.navbar-home {
  background: none !important;
  border: none !important;
}
.btn.home {
  margin-top: -40px;
}
.width-40-m {
  @media(max-width: $sc-small) {
    width: 40%;
 }
}
.mobile-logo-title {
  @media(min-width: $sc-medium) {
    display: none !important;
 }
}
